/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* own code starts here */
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
div {
  margin: auto 1rem;
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.navBar a {
  font-family: 'Merriweather', serif;
  color: black;
  margin: 4.5rem 1.5rem 1.5rem 1.5rem;
  text-decoration: none;
}
.navBar a:hover {
  text-decoration: underline;
  background: orange;
}
h1 {
  font-size: 70px;
  margin-left: 1.5rem;
}
h2 {
  font-size: 25px;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgrey;
}
.header-image {
  margin-left: 3rem;
  margin-top: 4rem;
}
.header-content {
  margin-left: 1.5rem;
}
.header-content p,
form {
  margin-left: 1.5rem;
}
p {
  font-size: 18px !important;
}
button {
  margin-top: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #808080;
  border-radius: 6px;
  color: white;
  font-size: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #e9ecef;
  justify-content: space-around;
  margin-bottom: 20px;
  padding-bottom: 55px;
  margin-top: 0px;
  margin-right: 0;
}
.middle {
  display: flex;
}
.middleLeft {
  width: 49%;
  margin-left: 0px;
}
.middleLeft h2 {
  margin-left: 0px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 0px;
  border-bottom: none;
}
.middleRight {
  width: 49%;
  margin-right: 0px;
  margin-top: 0px;
}
.middleRight li {
  border: 1px solid lightgrey;
  padding: 0.7rem 1rem 0.7rem 1rem;
}
.middleRight h2 {
  margin-left: 0px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 0px;
  border-bottom: none;
}
.middleLeft p {
  word-spacing: 2.8px;
  line-height: 125%;
}
.bottom-text {
  margin-left: 0px;
}
.bottom-text h2 {
  margin-left: 0px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 0px;
  border-bottom: none;
}
footer {
  background-color: #808080;
  padding: 2rem;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
th {
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 0.7rem 1rem 0.7rem 1rem;
  text-align: left;
}
td {
  font-size: 18px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 0.7rem 1rem 0.7rem 1rem;
}
.bottom-table {
  margin-left: 0px;
  margin-right: 0px;
}
.dark {
  background-color: #e9ecef;
}
